DATABASE_URL="postgresql://avnadmin:YOUR_PASSWORD@YOUR_AIVEN_HOST:YOUR_PORT/defaultdb?sslmode=verify-full&sslrootcert=%2Fpath%2Fto%2Fca.pem"
JWT_SECRET=
CLIENT_ORIGIN="http://localhost:5173"
PORT=5001
